{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>List of Users</p>
  <ul>
    <li>User 1</li>
    <li>User 2</li>
    <li>User 3</li>
    <li>User 4</li>
    <li>User 5</li>
  </ul>
  <a href="/">Back</a>
{% endblock %}
